---
import Layout from "../layouts/Layout.astro";

const texto = "Texto añadido de JavaScript"

---

<Layout title="Acerca del proyecto">
<h1>Sobre el proyecto</h1>
<p>Diseño de proyecto de aprendizaje sobre Astro</p>
</Layout>